{% extends "SpottedHomeBundle::base.html.twig" %}

{% block head_title %}ZHAW Spotted{% endblock %}


{% block content %}

    <div id="landing_image">
        <div id="companies" class="fade_slow">
            <img src="{{ asset('bundles/spottedhome/images/zhaw.png') }}" style="height:40px" />
        </div>
    </div>

    <div id="landing_wrapper" class="container fade_slow">
        <div class="row" style="height: 100%">
            <div class="col-xs-12" style="height: 100%">
                <div id="landing_box">

                    {#<!-- Logo -->#}
                    {#<div>#}
                    {#<img src="{{ asset('bundles/spottedhome/images/logo_white_red.png') }}" style="height:100px" />#}
                    {#</div>#}

                    <!-- Title -->
                    <div id="landing_text">
                        <h1 style="display: block;">Du hast die passende <span style="color: #E85C5C;">Gelegenheit</span> verpasst?</h1>
                        <h2 style="color: #FFFFFF; display: block;">Wir geben dir eine <span style="color: #E85C5C;">zweite</span> Chance!</h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align: center; line-height: 60px;">
                <a id="btn_joinus" href="{{ path('fos_user_registration_register') }}" style="margin-bottom: 10px; display: inline;" class="btn btn-default btn-lg">Mach mit!</a>
                <a id="btn_login" href="{{ path('fos_user_security_login') }}" class="btn btn-danger btn-lg" style="display: inline;">Log In</a>
            </div>
        </div>
    </div>

{% endblock %}