
html {

}

/*body {*/
    /*background-attachment: fixed;*/
    /*background-color: #F2F2F2;*/
    /*background-image: url("http://static.tumblr.com/70d92089993cff5fbf6a89638b287863/ky1rrhj/iLBmtlqn9/tumblr_static_image.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*font-family: 'Open Sans','helvetica';*/
    /*height: 100%;*/
    /*padding: 0;*/
    /*font-size: 16px;*/
/*}*/

body {
    background-color: #F2F2F2;
    font-family: 'Open Sans','helvetica';
    height: 100%;
    font-size: 16px;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

input[type="radio"] {
    margin-left: -23px;
    margin-top: -5px;
    overflow: visible;
    position: relative;
    z-index: 9998;
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding-left: 32px;
}

.input-icon.input-icon-left i {
    left: 10px;
}

.input-icon i {
    color: #575757;
    height: 30px;
    line-height: 30px;
    position: absolute;
}

/**
Login Page
**/
.login-box {
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px #DADADA;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 100px;
    width: 400px;
}

.login-box .login-header {
    height: 100px;
    padding: 0 50px;
}

.login-box #logo {
    background-image: url("../../bundles/spottedhome/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: block;
    height: 90px;
    margin-top: 50px;
}

.login-box .login-title {
    font-size: 20px;
    line-height: 1.5;
}

.login-box .login-form {
    margin-bottom: 20px;
}

.login-box .login-footer {
    background-color: #FAFAFA;
    border-top: 1px solid #DDDDDD;
    color: #A5A5A5;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    padding: 15px;
    text-align: center;
}







#category-div label {
    background-color: #F2F2F2;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-right: 4px;
    margin-top: 3px;
    padding: 5px 15px 2px 4px;
    position: relative;
    z-index: 9999;
}

#category-div label:hover,
#category-div label.selected{
    background-color: #83C50F;
    color: #FFFFFF;
}

#category-div label i {
    position: relative;
    z-index: 9999;
}

#menu_wrapper {
    padding: 15px;
}

#menu {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#menu #logo {
    background-image: url("../../bundles/spottedhome/images/logo_white_red.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: block;
    height: 30px;
}

#menu a.link {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("http://static.tumblr.com/ky1rrhj/EPsmt25fq/arrow.png");
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 12px auto;
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    display: block;
    font-size: 0.7em;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    text-indent: 20px;
    text-transform: uppercase;
}

#menu #search {
    margin: 10px 0;
}

.new_item {
    margin-bottom: 40px;
}

.new_item > .head h1 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 0;
    text-shadow: 0 0 5px #FFFFFF;
}


.new_item .message_text {
    -moz-box-sizing: border-box;
    border: 0 none;
    border-radius: 0 0 0 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    margin: 0;
    outline: 0 none;
    padding: 10px;
    resize: none;
    width: 100%;
}

#new_item_form {
    display:none;
    padding: 20px;
}


#canvas {
    overflow: visible;
    margin-top: 15px;
}

#canvas .item {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #999999;
    margin-bottom: 20px;
    opacity: 0.9;
    overflow: auto;
    transition: opacity 300ms ease-in 0s;
    padding:0px;
}

html.no-js #canvas .item {
    margin-right: 18px;
}



#canvas .item.col-xs-12 {
    width: 95%
}

@media (min-width: 768px) {
    #canvas .item.col-sm-6 {
         width: 44.9%;
    }

    #menu_wrapper {
        padding: 0px;
    }
}

@media (min-width: 992px) {
    #canvas .item.col-md-6 {
        width: 46%;
    }
}

@media (min-width: 1170px) {
    #canvas .item.col-md-6 {
        width: 46.8%;
    }
}


#item_wrapper {

}



.spotted-message {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 25px;
}

h2.spotted-title {
    color: #E52222;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
}

h2.spotted-title a {
    color: #E52222;
}

.spotted-message .datum {
     font-size: 10px;
     margin-bottom: 10px;
     padding-left: 10px;
}

.spotted-message .gender {
    height: 40px;
    margin-right: 10px;
    width: 40px;
    float: left;
}

.spotted-message .gender img {
    width: 100%;
    margin-top: 5px;
}

.spotted-details,
#new_item_form {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #D8D8D8;
    overflow: hidden;
}

.spotted-details {
    height: 50px;
    line-height: 50px;
}

#new_item_form {
    box-shadow: 0 0 4px #999999;
    height: 200px;
}


.spotted-details .box {
    border-right: 1px solid #D8D8D8;
    cursor: pointer;
    text-align: center;
 }

.spotted-details .box:hover {
    background-color: #D8D8D8;
}

.spotted-details .box i {
    font-size: 22px;
    line-height: 45px;
}

.spotted-details .box.comment {
    width: 60px;
    float:left;
}


.spotted-details .box.box-spotted {
    text-align: center;
    border-left: 1px solid #D8D8D8;
    float: right;
    width: 160px;
 }

.spotted-details .box.box-spotted img {
    width: 40px;
    margin-left: 5px;
    margin-top: -5px;
}