html {
    background: none;
}

body {
    background-attachment: fixed;
    background-color: #F2F2F2;
    /*background-image: url("http://static.tumblr.com/70d92089993cff5fbf6a89638b287863/ky1rrhj/iLBmtlqn9/tumblr_static_image.jpg");*/
    background-image: url("../images/bg/DSC08402.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans','helvetica';
    height: 100%;
    padding: 0;
    font-size: 15px;
}

/*html.login-page body {*/
    /*background-color: #F2F2F2;*/
    /*font-family: 'Open Sans','helvetica';*/
    /*height: 100%;*/
    /*font-size: 16px;*/
/*}*/

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

input[type="radio"] {
    margin-left: -23px;
    margin-top: -5px;
    overflow: visible;
    position: relative;
    z-index: 9998;
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding-left: 32px;
}

.input-icon.input-icon-left i {
    left: 10px;
}

.input-icon i {
    color: #575757;
    height: 30px;
    line-height: 30px;
    position: absolute;
}

label {
    font-weight: normal;
}

/**
Landing Page
**/
#landing_box {
    margin-top: 200px;
    color: #FFFFFF;
    display: none;
}

#landing_image {
    background-color: #F2F2F2;
    background-image: url("../images/bg/DSC08399.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  0 -350px;
    font-family: 'Open Sans','helvetica';
    padding: 0;
    font-size: 15px;
    position: absolute;
    width: 100%;
    min-height: 600px;
    left: 0;
    height: 100%;
}

#landing_wrapper {
    min-height: 600px;
    height: 100%;
}

#landing_text {
    line-height: 30px;
    margin-bottom: 30px;
}

/**
Login Page
**/
.login-box {
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px #DADADA;
    left: 0;
    margin: 100px auto 200px;
    right: 0;
    top: 100px;
    width: 350px;
    opacity: 0.9;
}

.login-box .login-header {
    height: 100px;
    padding: 0 40px;
}

.login-box #logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: block;
    height: 90px;
    margin-top: 40px;
}

.login-box .login-title {
    font-size: 20px;
    line-height: 1.5;
}

.login-box .login-form {
    margin-bottom: 80px;
}

.login-box .register-form {
    margin-bottom: 30px;
}

.login-box .login-form .form-group,
.login-box .register-form .form-group
{
    margin: 5px 0;
}

.login-box .login-form .row,
.login-box .register-form .row
{
    padding: 0 15px;
    margin-bottom: 15px;
}

.login-box .hover-left:hover
{
    border-left-color: #E41F1F;
    border-image: none;
    border-style: solid;
    border-width: 0 0 0 3px;
    padding-left: 12px;
}


.login-box .login-footer {
    background-color: #FAFAFA;
    border-top: 1px solid #DDDDDD;
    color: #A5A5A5;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    padding: 15px;
    text-align: center;
}



/**
** Style Configurator
**/

#style-selector {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 13px;
    left: 0;
    position: fixed;
    top: 98px;
    width: 212px;
    z-index: 6789251;
}

#t-row-left-ss, #t-row-right-ss {
    background: #3F454A;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    display: none;
    font-size: 30px;
    height: 45px;
    left: 212px;
    padding: 0 8px;
    position: fixed;
    top: 98px;
    width: 45px;
    z-index: 6789252;
}

#t-row-right-ss {
    left: 0;
    z-index: 6789250;
    display: block;
}

#style-selector .title-ss {
    background: none repeat scroll 0 0 #3F454A;
    border-bottom: 1px solid #DBDBDB;
    color: #FFFFFF;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

#style-selector .box-ss {
    color: #AAAAAA;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 5px;
}


/**
** Main page layout
**/

#menu_wrapper {
    padding: 15px;
}

#menu {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
}

#menu #logo {
    background-image: url("../images/logo_white_red.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: block;
    height: 30px;
}

#menu a.link {
    border-bottom: 1px solid #000000;
    color: #FFFFFF;
    display: block;
    font-weight: 400;
    min-height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a.link:hover {
    font-weight: 700;
}

#menu #profile {
     color: #FFFFFF;
     display: block;
     font-weight: 400;
     min-height: 30px;
     line-height: 30px;
     text-decoration: none;
     margin-top: 18px;
     margin-bottom: 8px;
 }

#menu #profile i {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: block;
    float: left;
    font-size: 23px;
    margin-right: 5px;
    padding: 2px 5px;
 }

#menu #profile_name {
    line-height: 14px;
    word-wrap: break-word;
}

#menu a.link i {
    margin-right: 10px;
}

#menu #search {
    margin: 10px 0;
}


#message_filter {
    margin-bottom: 8px;
}

#filter_location {
    background-color: rgba(255,255,255,0.25);
    color:    #333333;
}

#filter_location::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000000;
}
#filter_location:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000000;
}
#filter_location::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000000;
}
#filter_location:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000000;
}

#message_filter .btn:active, #message_filter .btn.active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
    color: #D9534F;

    font-weight: 300;
}

.new_item {
    margin-bottom: 0px;
}

.new_item > .head h1 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 0;
    text-shadow: 0 0 5px #FFFFFF;
}


.message_text {
    -moz-box-sizing: border-box;
    border: 0 none;
    border-radius: 0 0 0 0;
    font-weight: 300;
    height: 40px;
    margin: 0;
    outline: 0 none;
    padding: 10px;
    resize: none;
    width: 100%;
}

#new_item_div {
    display:none;
    padding: 15px 30px 20px;
    box-shadow: 0 0 4px #999999;
}


#canvas {
    overflow: visible;
    margin-top: 15px;
    margin-bottom: 70px;
}

#canvas .item {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #999999;
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
    opacity: 0.9;
    transition: opacity 300ms ease-in 0s;
    padding:0px;
}

html.no-js #canvas .item {
    margin-right: 18px;
}



#canvas .item.col-xs-12 {
    width: 95%
}

@media (min-width: 768px) {
    #canvas .item.col-sm-6 {
         width: 44.9%;
    }

    #menu_wrapper {
        padding: 0px;
    }
}

@media (min-width: 992px) {
    #canvas .item.col-md-6 {
        width: 46%;
    }
}

@media (min-width: 1170px) {
    #canvas .item.col-md-6 {
        width: 46.8%;
    }
}


#item_wrapper {

}



.spotted-message {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 25px;
}

h2.spotted-title {
    color: #E52222;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 0px;
}

h2.spotted-title a {
    color: #E52222;
}

.spotted-message .datum {
     font-size: 10px;
     margin-bottom: 10px;
     padding-left: 10px;
}

.spotted-message .datum i.fa {
    margin-right: 4px;
}


.spotted-message .gender {
    height: 40px;
    margin-right: 10px;
    width: 40px;
    float: left;
}

.spotted-message .gender img {
    width: 100%;
    margin-top: 5px;
}

.spotted-details,
#new_item_div {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #D8D8D8;
    overflow: visible;
}

.spotted-details {
    height: 50px;

}

.spotted-details .box {
    border-right: 1px solid #D8D8D8;
    cursor: pointer;
    text-align: center;
 }

.spotted-details .box:hover {
    background-color: #D8D8D8;
}

.spotted-details .box i {
    font-size: 22px;
    line-height: 45px;
}

.spotted-details .box.comment,
.spotted-details .box.wishlist{
    width: 60px;
    float:left;
    height: 49px;
    line-height: 50px;
}

.spotted-details .box.wishlist.selected{
    background-color: #D9534F;
    border-color: #D43F3A;
    color: #FFFFFF;
    white-space: nowrap;
}



.spotted-slidedown {
    background-color: #F1F1F4;
    box-shadow: 0 4px 9px -6px rgba(103, 103, 103, 0.7) inset;
    margin-top: 0;
    padding: 10px 0;
    display: none;
}

.spotted-comments .list_comment {
    margin-bottom: 20px;
    position: relative;
}

.spotted-comments .avatar {
    font-size: 12px;
    line-height: 12px;
}

.spotted-comments .avatar i {
    font-size: 30px;
    line-height: 30px;
}

.spotted-comments .point {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 12px solid #FFFFFF;
    border-top: 10px solid rgba(0, 0, 0, 0);
    position: relative;
    float: left;
    z-index: 999;
    margin-left: -12px;
    margin-top: 8px;
}

.spotted-comments .comment-username {
    font-weight: bold;
}

.spotted-comments .comment-text {
    background-color: white;
    border-radius: 10px;
    min-height: 30px;
    padding: 7px 14px;
    box-shadow: 0 0 5px #C8C8C8;
}

.add_comment {

}

.add_comment textarea {
    -moz-box-sizing: border-box;
    border: 0 none;
    border-radius: 0;
    font-weight: 300;
    margin: 0;
    outline: 0 none;
    padding: 10px;
    resize: none;
    width: 100%;
}

.spotted-details .box.box-spotted {
    text-align: center;
    border-left: 1px solid #D8D8D8;
    float: right;
    width: 160px;
    height: 49px;
    line-height: 50px;
 }

.spotted-details .box.box-spotted img {
    width: 40px;
    margin-left: 5px;
    margin-top: -5px;
}

.footer {
    padding: 40px 0px 10px;
    min-height: 30px;
    border-top: 5px solid #C0C0C8;
    background-color: #19191A;
    position: relative;
}

#btn_login {
    background: #e28383; /* Old browsers */
    background: -moz-linear-gradient(top,  #e28383 0%, #e41f1f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e28383), color-stop(100%,#e41f1f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e28383 0%,#e41f1f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e28383 0%,#e41f1f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e28383 0%,#e41f1f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e28383 0%,#e41f1f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e28383', endColorstr='#e41f1f',GradientType=0 ); /* IE6-9 */

    border-color: #D2322D #D2322D #9a2727;
    box-shadow: 0 1px 1px #ff9d9e inset;
    padding-left: 90px;
    padding-right: 90px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#btn_login:hover {
    background: #dd9696; /* Old browsers */
    background: -moz-linear-gradient(top,  #dd9696 0%, #e41f1f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd9696), color-stop(100%,#e41f1f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dd9696 0%,#e41f1f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dd9696 0%,#e41f1f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dd9696 0%,#e41f1f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dd9696 0%,#e41f1f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd9696', endColorstr='#e41f1f',GradientType=0 ); /* IE6-9 */

}

#btn_joinus {
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */

    border-color: #777777 #777777 #888888;
    box-shadow: 0 1px 1px #ffffff inset;
    padding-left: 90px;
    padding-right: 90px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#btn_joinus:hover {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}


.footer-box {
    background-color: #3D3D3F;
    border-radius: 10px;
    padding-top: 2px;
    margin-top: 30px;
}

.footer-box-icon {
    background: #202021; /* Old browsers */
    background: -moz-linear-gradient(top,  #202021 0%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202021), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #202021 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #202021 0%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #202021 0%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #202021 0%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202021', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

    border-radius: 6px 6px 0 0;
    margin: 0 2px;
    height: 80px;

    text-align: center;
}

.footer-box-icon i {
    font-size: 63px;
    margin-top: 9px;
    color: #FFFFFF;
}

.footer-box-text {
    color: #777777;
    min-height: 80px;
    padding: 5px 20px 10px;
}

.footer-box-text-header {

    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
}

.footer-box-text-content {
    text-shadow: 0 -1px 0 #222222;
}

.footer-recommendation {
    margin-top: 40px;
}

.footer-recommendation-img {
    border-radius: 75px;
    float: left;
    height: 150px;
    overflow: hidden;
    width: 150px;
}

.footer-recommendation-img img {
    height: 150px;
    margin-left: -42px;
}
.footer-recommendation-text {
    font-size: 20px;
    margin-left: 180px;
    min-height: 150px;
    padding-top: 29px;

    text-shadow: 0 -1px 0 #222222;
    color: #777777;
    font-style: italic;
}


#copyright {
    margin-top: 40px;
    color: #565656;
}